<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="btn btn-warning mx-2" routerLink="public-page">Public Page</button>
    <button class="btn btn-warning mx-2" routerLink="restricted-page">Restricted Page</button>
    <span class="justify-content-end">
      <button class="btn btn-warning mx-2" (click)="login()" *ngIf="!isLoggedIn()">SIGN IN</button>
      <button class="btn btn-warning mx-2" (click)="logout()" *ngIf="isLoggedIn()">SIGN OUT</button>
    </span>
  </div>
</nav>
<div *ngIf="isLoggedIn()">
  <h2>You are Logged In</h2>
</div>
<div *ngIf="!isLoggedIn()">
  <h2>You are Not Logged In</h2>
</div>
<br><br>
<router-outlet></router-outlet>
